-i https://pypi.org/simple/
backcall==0.2.0
click==7.1.2
decorator==4.4.2
flask-cors==3.0.8
flask-shell-ipython==0.4.1
flask-sqlalchemy==2.4.1
flask==1.1.1
greenlet==1.0.0 ; python_version >= '3'
importlib-metadata==3.7.3 ; python_version < '3.8'
ipython-genutils==0.2.0
ipython==7.16.1
itsdangerous==1.1.0
jedi==0.18.0
jinja2==2.11.3
markupsafe==1.1.1
parso==0.8.1
pexpect==4.8.0 ; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==3.0.17
ptyprocess==0.7.0
pygments==2.8.1
six==1.15.0
sqlalchemy==1.4.2
traitlets==4.3.3
typing-extensions==3.7.4.3 ; python_version < '3.8'
wcwidth==0.2.5
werkzeug==1.0.1
zipp==3.4.1
